body {
    margin: 0;
}

a {
    text-decoration: none;
}

.button-ui {
    appearance: button;
    background-color: #a7a6d9;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Titan One', cursive;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 1em;
}
.button-ui:after {
    background-clip: padding-box;
    background-color: #3C3A8C;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.contenedor-pagina {
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenedor-inicio {
    background-image: url(imagenes/inicio-background.png);
}
.contenedor-puntuaciones {
    background-image: url(imagenes/puntuaciones-background.png);
}

.contenedor-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}
.logo {
    width: 250px;
}
.contenedor-titulo {
    display: flex;
    justify-content: center;
}
.titulo {
    width: 500px;
    margin-top: 1em;
}

.contenedor-botones {
    width: 20%;
    margin: 0 auto;
}

.button-19:main,
.button-19:focus {
user-select: auto;
}

.button-19:hover:not(:disabled) {
filter: brightness(1.1);
-webkit-filter: brightness(1.1);
}

.button-19:disabled {
cursor: auto;
}

.contenedor-cuadro-puntuaciones {
    display: flex;
    justify-content: center;
}

.contenedor-botones-puntuaciones {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 2em;
}